<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>Home</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body { padding-top:80px; }
        	
			@font-face {
				font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400;
				src: url('../public/NanumGothic-Regular.eot');
				src: local('NanumGothic'),
					url('../public/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
					url('../public/NanumGothic-Regular.woff2') format('woff2'),
					url('../public/NanumGothic-Regular.woff') format('woff'),
					url('../public/NanumGothic-Regular.ttf') format('truetype');
			}
        	
        	h1, p, a { font-family: 'Nanum Gothic' }
    	</style>
    
	</head>
	<body>
		<div class="container">
		    <div class="jumbotron text-center">
				<br>
		        <a href="/front" class="btn btn-default">↑</a><br>
                <a href="/left" class="btn btn-default">←</a>
                <a href="/right" class="btn btn-default">→</a><br>
				<a href="/back" class="btn btn-default">↓</a><br><br>
				<a href="/stop" class="btn btn-default">STOP</a>
				<a href="/auto" class="btn btn-default">AUTO</a><br><br>
				<a href="/open" class="btn btn-default">FEED</a>
				<a href="/cycle" class="btn btn-default">CYCLE</a><a href="/sgo" class="btn btn-default">S</a>
				<a href="/tikka" class="btn btn-default">TIKKA</a><a href="/wiggle" class="btn btn-default">WIGGLE</a>
                
		    </div>
		
		</div>
	</body>
</html>

